*{
    margin: 0;
    padding: 0;
    font-family: "popins" sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#233e50 ;
    width:100%;
    height: 70px;
    
}

.img-logo{
    width: 30px;
    height: 30px;
    margin: 1rem 3rem;
    border: 1px solid black;
    border-radius: 90%;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 4rem;
    font-weight: 600;
    align-items: center;
    
    
}

a{
 color: #fff;
 text-decoration: none;
}

a:hover{
    color: rgb(141, 190, 232);
}

.nav-btn{
   
    border-radius: 6px;
    margin-right: 2rem;
    width: 50px;
    height: 30px;
    background-color: #34d665;
    align-items: center;
}

.about{
    width: 100%;
    height: 400px;
    background-color: #0a2640;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    gap: 2rem;
    font-weight: 600;
}

.about h2{
    font-size: 40px;
}

.about p{
    font-size: 3opx;
    opacity: 0.5;
}



